a {
outline:0;
}

body {
	background-color:#fffad5;
}

#logo {
	height: 56px;
}

.zagraj {
	width:20%;
}

.position {
	text-align:center;
}

.colors {
	background-color:silver;
}

.puzzle {
	width:30%;
}

#timer {
	background-color:yellow	
}

.obrazek1 {
	width:537px;
	height:543px;
	border:solid;
}


.fade {
-webkit-animation: fade 4s;
animation: fade 4s;
-moz-animation: fade 4s;
-o-animation: fade 4s;
}

@-webkit-keyframes fade {
0% {opacity: 0.2} 
50% {opacity: 1}
100% {opacity:0.2}
}

@-moz-keyframes fade{
    0% {opacity: 0.2} 
  50% {opacity: 1}
  100% {opacity:0}  
}

@keyframes fade {
  0% {opacity: 0.2} 
  50% {opacity: 1}
  100%{opacity: 0.2}
    }
@-o-keyframes fade {
0% {opacity: 0.2} 
  50% {opacity: 1}
  100%{opacity: 0.2}

}
 #graph2, #footer1 { 
   transform-origin: right center; 
   animation: scale 4000ms ease-in-out forwards; 

} 
  @keyframes scale {  
    to {  
      transform: translateY(190px); 

    }  
   } 
    @-webkit-keyframes scale {  
    to {  
      transform: translateY(190px); 

    }  
   } 
     @-moz-keyframes scale {  
    to {  
      transform: translateY(190px); 

    }  
   } 
     @-o-keyframes scale {  
    to {  
      transform: translateY(190px); 

    }  
   } 


 
#page {
	width:100%;
	height:auto;
}

h3{
color: #ee1040;
font-size: 50px;
align-items: center;
text-align: center;
}

.nameFontBold {
	font-family: 'Fira Sans', sans-serif; 
	 font-weight:700;
	 padding-left:8%;
}

.nameFont {
	font-family: 'Fira Sans', sans-serif; 
	  font-weight:100;
	   padding-left:12%; 
}

 #endGame1 {
		  font-family: 'Fira Sans', sans-serif; 
	  font-weight:700; 
	color:#008000;
	 -webkit-animation: fade1 2s; 
 animation: fade1 2s; 
 -moz-animation: fade1 2s; 
 -o-animation: fade1 2s; 
 } 


 @-webkit-keyframes fade1 { 
   0% {opacity: 0.2}  
   50% {opacity: 0.6} 
   100%{opacity: 1} 
 } 

 @-moz-keyframes fade1{ 
   0% {opacity: 0.2}  
   50% {opacity: 0.6} 
   100%{opacity: 1}  
 } 

 @keyframes fade1 { 
   0% {opacity: 0.2}  
   50% {opacity: 0.6} 
   100%{opacity: 1} 
     } 
 @-o-keyframes fade1 { 
   0% {opacity: 0.2}  
   50% {opacity: 0.6} 
   100%{opacity: 1} 
 } 







